@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "Garage";
}

<h1>@ViewData["Title"]</h1>

@* <p>
    <a asp-action="Create">Park vehicle</a>
</p> *@

<button type="button" class="btn btn-primary mb-1" onclick="location.href='@Url.Action("Create", "Vehicles")'">
    Park vehicle
</button>


@* Search Function UI *@
<form asp-action="Filter" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="registrationNumber" placeholder="Please Enter registration number:" />

        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Check out</a>
            </td>
        </tr>
}
    </tbody>
</table>
