@model IEnumerable<ParkedVehicleViewModel>

@{
    ViewData["Title"] = "Parked Vehicles";
}

<h1 class="my-5">Parked Vehicles</h1>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Owner</th>
            <th>
                <a asp-action="ParkedVehicle"
                   asp-route-sortColumn="RegistrationNumber"
                   asp-route-sortOrder="@(ViewData["CurrentSort"]?.ToString() == "RegistrationNumber_asc" ? "desc" : "asc")"
                   class="text-dark">
                    @Html.DisplayNameFor(model => model.RegistrationNumber)
                    @(ViewData["CurrentSort"]?.ToString() == "RegistrationNumber_asc" ? "▼" : "▲")
                </a>
                <form asp-action="ParkedVehicle" class="d-inline">
                    <input type="text" name="searchTerm" placeholder="Filter by registration number" class="form-control filter-input" />
                </form>
            </th>
            <th>
                Arrival Time
            </th>
            <th>
                Parking Spot
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Owner)</td>
                <td>@Html.DisplayFor(modelItem => item.RegistrationNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.ArrivalTime)</td>
                <td>@Html.DisplayFor(modelItem => item.ParkingSpot)</td>

            </tr>
        }
    </tbody>
</table>
